apiVersion: v1
kind: Service
metadata:
  name: __RELEASE_NAME__
  namespace: __NAMESPACE__
  labels:
    app.kubernetes.io/name: gitlab
    app.kubernetes.io/instance: __RELEASE_NAME__
    app.kubernetes.io/managed-by: archinfra-installer
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: gitlab
    app.kubernetes.io/instance: __RELEASE_NAME__
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    - name: ssh
      port: 22
      targetPort: ssh
      protocol: TCP
